<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.hugeicons.com/font/icons.css" />
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to SkyRadar</h1>
</body>
</html>